.select.session
  = select_tag :user_customer_attributes_city_id, options_from_collection_for_select(@cities, "id", "name"), :class=> 'inputtext _58mg _5dba', :placeholder => 'city', :name => "user[customer_attributes][city_id]"