.panel_left.inlineBlock
  .clearfix
    ._5iyz.lfloat
      .pvl._52lp._59d-
        %h1 Sign Up.
        ._52lr.fsm.fwn.fcg  A traves del registro gratuito seras cliente de la red de abogados mas amplia del pais al mas bajo costo

      = render 'form'

.panel_right.inlineBlock
  ._5iyx
    Soluciones Legales te ofrece la mas amplia gama de abogados y estudios juridicos de Bolivia Para Ayudarte a solucionar tus problemas legales.
  = image_tag 'OBaVg52wtTZ.png'
= link_to 'Back', customers_path

