- content_for :scripts do
  = javascript_include_tag 'listboxes_speciality_areas'



#row.reqnew
  %h2.text-center= t('Nueva Solicitud')
  %p.text-center Tengo un problema Legal y necesito solucionarlo
  %p.text-center Escoja las opciones en las cuales será fácil identificar el problema.
  %hr

  = render 'form'

= link_to t('helpers.links.back'), requests_path